/* CUSTOM BOOTSTRAP */
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .media-body {
    -ms-flex: 1;
    flex: 1;
  }
  .card-deck .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-deck {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .card-deck .card {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
/* END CUSTOM BOOTSTRAP */

.nav-admin {
    line-height: 2;
}
.nav-admin > a {
    background-color: transparent;
    color: #fff;
    /* font-weight: 600; */
}
.nav-admin > a:hover {
    background-color: transparent;
    color: #fff;
    opacity: .5;
}
.nav-admin > a:focus {
    color: #fff;
    background-color: transparent;
}
.bg-admin {
    background-color: #ecf1fa;
}
.sub-nav {
    text-transform: uppercase;
    opacity: .5;
    font-weight: 700;
    letter-spacing:2px;
    font-size: 10px;
}
.line-2 {
    line-height: 2;
}
.line-3 {
    line-height: 3;
}
.border-transparent {
    border-color: transparent;
}
.bg-primary-2 {
    background-color: #012d64;
}
.form-control,.form-select,.btn,.card {
    border-radius: 0;
}